main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.box {
  margin-bottom: 20px;
}


@media screen and (max-width: 500px) {
  main {

    margin-top: 80px;
}
}
