@font-face {
  font-family: "amiri";
  src: url("Font-amiri/Amiri-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "amiri";
  src: url("Font-amiri/Amiri-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "amiri";
  src: url("Font-amiri/Amiri-Bold.ttf");
  font-style: normal;
}

body {
  text-align: center;
  font-family: amiri;
}



.homepage{
  display: flex;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
  height: 92.2vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 120px;
}
.blue-title {
  color:#1E96FC;
}

.ImgAlberto {
  width: 25%;
}

.logo-navbar{
  font-size: 1.5em;
}



.title {
  text-align: center;
  color: #1E96FC;
  font-family: amiri;
  font-weight: bold;
  font-size: 2em;
}
.box {
  padding: 15px;
  background-color: #A2D6F9;
  display: flex;
  width: 70%;
  margin: 10px auto;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 120px;
}
.row {
  align-items: center;
}

.photo-project {
  width:80%;
  margin: 10px;
  border: 3px outset #1E96FC;
}
.description p {
  text-align: left;
  font-size: 1.2em;
  line-height: 18px;
  font-family: amiri;
}

@media screen and (max-width: 992px) {
  .description p {
    text-align: center;
    margin-top: 5px;
    font-size: 1.1em;
  }
  .photo-project {
    width: 40%;
    margin: 5px;
  }


  .about-me p{
    font-size: 1.1em;
  }

  .contact p {
    font-size: 1em;
    margin-top:5px;

  }
.box {
  width: 85%;
}
.ImgAlberto {
  width: 35%;
}


}

@media screen and (max-width: 500px) {
  .ImgAlberto {

  width: 55%;
  }
  .photo-project {
    width: 65%;
  }
  .sticky-mobile {
    position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  }
}



.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 30px;
  font-family: amiri;

}


.about-me p{
  font-size: 1.2em;
}
.about-me a {
  color: inherit;
}
.logo {
  width: 50px;
  margin: 8px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact p {
  font-size: 1.1em;
  font-family: amiri;
  margin-top: 7px;

}

  .icon {
    width: 28px;
    height: 22px;
  }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
form input, form textarea {
  border:2px solid #1E96FC;
  margin: 10px 0;
  padding: 10px;;
  outline: none;
  width: 85%;
  max-width: 500px;
  font-family: amiri;
}
form button {
  padding: 13px;
  background:#1E96FC;
  color: black;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 140px;
  margin: 20px auto 0;
  border-radius: 30px;
  font-family: amiri;
}


footer {
  display: flex;
  justify-content: space-between;
}
.words-footer {
  display: flex;
  flex-direction: row;
}



.box p {
  font-family: amiri;
}
.thanks {
  font-size: 0.9em;
}

#liveAlertPlaceholder {
  position: relative;
  top:10px;


}
